llama-index==0.10.9
langchain==0.2.3
langchain-openai==0.1.8
langchain-chroma==0.1.1
langchain-community==0.2.4
chromadb==0.4.22
llama-index-vector-stores-chroma==0.1.5
llama-index-llms-azure-openai==0.1.8
llama-index-embeddings-azure-openai==0.1.9
lark==1.1.9
